<%= render 'layouts/navbar_main'%>
<%= render 'layouts/navbar_navigation_botsettings'%>
<%= render 'layouts/messages'%>
<div class="container">

	<!-- main content -->
	<div class="row mt-4">
		<div class="col-1">
		</div>

		<div class="col-10 rowheight_three border bg-white">
			<%= render 'home/edit/botsettings_main'%>
		</div>

		<div class="col-1">
		</div>
	</div>
</div>

<script type="text/javascript">
      // bot settings select date and time
      document.getElementById('first_schedule').onclick = function() {
        document.getElementById('first_time').classList.add('hide');
        document.getElementById('second_time').classList.add('hide');
        document.getElementById('third_time').classList.add('hide');
        document.getElementById('fourth_time').classList.add('hide');
        document.getElementById('fourth_date').classList.add('hide');
        document.getElementById('first_time').classList.remove('hide');
      }
      document.getElementById('second_schedule').onclick = function() {
        document.getElementById('first_time').classList.add('hide');
        document.getElementById('second_time').classList.add('hide');
        document.getElementById('third_time').classList.add('hide');
        document.getElementById('fourth_time').classList.add('hide');
        document.getElementById('fourth_date').classList.add('hide');
        document.getElementById('second_time').classList.remove('hide');
      }
      document.getElementById('third_schedule').onclick = function() {
        document.getElementById('first_time').classList.add('hide');
        document.getElementById('second_time').classList.add('hide');
        document.getElementById('third_time').classList.add('hide');
        document.getElementById('fourth_time').classList.add('hide');
        document.getElementById('fourth_date').classList.add('hide');
        document.getElementById('third_time').classList.remove('hide');
      }
      document.getElementById('fourth_schedule').onclick = function() {
        document.getElementById('first_time').classList.add('hide');
        document.getElementById('second_time').classList.add('hide');
        document.getElementById('third_time').classList.add('hide');
        document.getElementById('fourth_time').classList.add('hide');
        document.getElementById('fourth_date').classList.add('hide');
        document.getElementById('fourth_time').classList.remove('hide');
        document.getElementById('fourth_date').classList.remove('hide');
      }
</script>