<%= render 'layouts/navbar_main'%>
<%= render 'layouts/navbar_navigation_composemessage'%>
<%= render 'layouts/messages'%>
<div class="container">
	<!-- main content -->
	<div class="row mt-4">
		<div class="col-12 rowheight_three">
			<%= render 'home/edit/composemessage_main'%>
		</div>
	</div>
</div>