<%= render 'layouts/navbar'%>
<%= render 'layouts/messages'%>

<div class="mx-auto custom_margin" style="width: 600px;">
	<h1 class="grey text-center">Whatsapp Chat Bot</h1>
	<p class="text-center mt-4">Referral Yogi’s Auto reply WhatsApp chat bot that sends messages to your clients</p>
	<div class="mx-auto text-center mt-3" style="width: 600px;">
		<%= link_to 'Enter  > ', welcome_path, class: "btn btn-secondary text-center"%>
	</div>	
</div>
