<span style = "color: #7e7e7e;" >Bot trigger</span>

<%= link_to " Change", root_path, method: :get,id: 'change_link_botrigger',style: "margin-left: 51.15%; color: #157e4b; font-weight: 500; text-decoration: none" , remote: true %>
<div class = " row mb-2 ml-0">
     <% if @bot.triggerpoint == "Default" %>
        <div class="col-9" style="margin-left: -15px; ">     
            Any message will trigger the bot
        </div>    
    <% end %> 
    <% if @bot.triggerpoint == "Trigger" %>
        <% if Triggerphrase.where(bot_id: @bot.id) == [] %>
            You have not added any triggerphrases yet.
        <% end %>  
        <% names = "" %>
            <% for phrase in Triggerphrase.where(bot_id: @bot.id)%>
                <% names.concat(phrase.triggerphrase + ", ") %>
            <% end %> 
        <%= names.truncate(29) %>       
    <% end %>
</div>