<span style = "color: #7e7e7e"  class = "">Bot language</span>
<!-- settings_change_path(@bot.id, "2") -->
<%= link_to " Change", root_path, method: :get,style: "margin-left: 46%; color: #157e4b; font-weight: 500; text-decoration: none", remote: true %> 
<%= @bot.language %>
