
<div class="row" , id="width_setting_row" , style= "width:4500px;">
	<%= render 'home/edit/nodes/triggerphrasesmain'%>
	<div class="connector_green_circle "></div>
	<div class="connector_green_link"></div>
	<%= render 'home/edit/botresponse_and_usermessage_loop', parent_id: parent_id%>
</div>
