<% botmessagesmain_partial = "botmessagesmain_partial_" + (parent_id).to_s%>
<div class="row" , id="width_setting_row" , style= "width:2500px;">
	<%= render 'home/edit/nodes/triggerphrasesmain'%>
	<div class="connector_green_circle "></div>
	<div class="connector_green_link"></div>

	<div id="botmessagesmain_partial">
		<%= render 'home/edit/nodes/botmessagesmain', parent_id: parent_id%>	
	</div>

	<div class="ml-3", id="usermessagemain_partial_with_connector", style="margin-left: 0px;">
		<%= render 'home/edit/nodes/usermessagesmain_with_connector'%>	
	</div>
</div>
