<div class="row">
	<%= render 'home/edit/nodes/triggerphrasesmain'%>
	<div class="connector_green_circle "></div>
	<div class="connector_green_link"></div>
	<div id="botmessagesmain_partial">
		<%= render 'home/edit/nodes/botmessagesmain'%>	
	</div>
</div>

