@import 'bootstrap/dist/css/bootstrap';

.hide {
 display: none;
}

.login_background{
	background-image : url(phone.jpg);
	background-size : 640px 1000px;
	background-repeat: no-repeat;
}

.overflow{
	height : 430px;
	overflow: auto;
}

.overflow_two{
	height : 120px;
	overflow: auto;
}

.rowheight{
	height: 600px;
}
.rowheight_two{
	height: 480px;
}

.rowheight_three{
	height: 460px;
}

#intro_chat{
	height: 180px;
	overflow: auto;
}

.colomn_break{
	border-right: 1px solid rgb(160, 156, 156);
}

.grey{
	color: grey;
}

.custom_link{
	color:grey;
}
a:hover{
	color: rgb(30,30,30);
	text-decoration: none;
}

.padding_min{
	padding:5px;
}

.border{
	border-style: solid;
	border-color: rgb(150,150,150) !important;
	border-width: 1px !important;
	border-radius: 5px !important;
}

.custom_margin{
	margin-top: 200px;
}

.custom_font{
	font-size: 15px;
	color: grey;
}