@import 'bootstrap/dist/css/bootstrap';

.login_background{
	background-image : url(phone.jpg);
	background-size : 640px 1000px;
	background-repeat: no-repeat;
}

.rowheight{
	height: 600px;
}
.rowheight_two{
	height: 480px;
}

.colomn_break{
	border-right: 1px solid rgb(160, 156, 156);
}

.grey{
	color: grey;
}

.custom_link{
	color:grey;
}
